<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CondoClub.ProxyPagamento.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ProxySoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ProxySoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="xxx"
                binding="basicHttpBinding" bindingConfiguration="ProxySoap"
                contract="BoletoServiceReference.ProxySoap" name="ProxySoap" />
        </client>
    </system.serviceModel>
</configuration>