@{
    Layout = "~/Views/Shared/_Blank.cshtml";
}

<div class="logo-blank">
    <a class="logo" href="~/"><img src="~/Content/images/logo_grande.png" /></a>
</div>
<div>
    <h5>@Resources.Registo.Sucesso</h5>
    <label>@Html.Raw(Resources.Registo.MensagemSucesso)</label>
</div>

<br />
<a class="link-orange-underline" style="font-size:0.8em;" href="~/">@Html.Raw(Resources.Registo.VoltarInicio)</a>