@{
    Layout = "~/Views/Shared/_Blank.cshtml";
}
<div class="separator30"></div>
<div class="centered">
    <a class="logo" href="~/"><img src="~/Content/images/logo_grande.png" /></a>
</div>
@*<div class="grid_1 alpha omega">&nbsp;</div>*@

    <div class="grid_2 alpha">&nbsp;</div>
    <div class="grid_6">
    <div class="separator30"></div>
    <b>@Resources.RecuperarPassword.RecuperarPasswordLabel</b>
    <div class="separator10"></div>
    @using (Html.BeginForm()) {
        <div class="recover-password-div">
            <span class="login-data">
                <input type="text" name="email" />
            </span>
        </div>
        <div class="login-button">
            <input class="gray-button" type="submit" value="@Resources.RecuperarPassword.Recuperar" />
        </div>
    }
    </div>
    <div class="grid_2 omega">&nbsp;</div>

