@{
    Layout = "~/Views/Shared/_Blank.cshtml";
}
<div class="separator30"></div>
<div class="centered">
    <a class="logo" href="~/"><img src="~/Content/images/logo_grande.png" /></a>
</div>
<div class="grid_10 alpha omega">
    <div class="separator30"></div>
    <b>@Resources.RecuperarPassword.Sucesso</b>
    <br />
    <br />
    <a class="link-orange" href="~/">@Resources.RecuperarPassword.VoltarLogin</a>
</div>


