@model IEnumerable<CondoClub.Web.Models.Veiculo>

@foreach (var item in Model)
{
    <div id="@item.ID" class="block-list-group">
        @{ Html.RenderPartial("_DetalheVisualizar", item); }
    </div>
}